* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#nav-button {
  float: right;
  padding: 15px 25px;
  margin-right: 150px;
  border-radius: 5px;
  background-color: #e05d47;
  margin-bottom:70px;
  border: none;
  width: 150px;
  color: white;
  
}
#nav-butoon:hover{
background-color: black;
color: white;
  
}
#nav-button:active{
  opacity: 0.5;
}


li {
  display: inline;
}

ul {
  text-align: center;
  text-decoration: none;
  padding: 25px 0px;
  overflow: hidden;
  background-color: whitesmoke;
  color: black;
}

li a {
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
  padding: 20px 15px;
}


.logo {
  margin-left: 150px;
  margin-bottom: 37px;
  border: none;

}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e05d47;
  color: white;
  border: none;
}

li a:hover {
  color: #e05d47;
}

.home {
  color: #e05d47;
}

.butoon:active {
  opacity: 0.4;
}

.button:hover {
  background-color: black;
  color: white;
}



.td {
  padding: 10px;
  margin: auto;
  display: flex;
  width: 100px;
}

.hero {flex-direction: row;
  display: flex;
  background:whitesmoke;
}

.pic {
  margin-left: 200px;
  margin-bottom: 200px;
  

}


.tab {
  margin-left: 300px;
}
.about{
  margin-top: 150px;
  background: whitesmoke;
  
}
  
.a{ text-align: center;
  justify-content: center;
  

}


.pic2{
  float: right;
  display: flex;
  border-radius: 5px;

  
}
.top{
  float: left;
  margin-right: 50px;
  
}

.text{
  font-size: xx-large;
  width: 300px;

}
body{

  
}
.color{
  background-color:#e05d47;
  display: inline-block;
  padding: 50px 25px 50px 0px;
  margin-right: 200px;
  border-radius: 5px;
}
.service{
  text-align: center;
  margin-bottom: 30px;
  background-color: whitesmoke;
  /* padding-top: 10px !important; */
  /* display: grid;
  flex-direction: row;
  border-radius: 22px !important
    */
}


.row{
  margin-bottom: 20px;

}
.fa-brands{
  padding: 20px;
  margin-top: 50px;
}
.fa-solid{
  padding: 20px;
  margin: top 50px; ;
}
.working{
  height: 60vh;
  background-image: url('32d3e5c2-7d30-4a02-a787-adff0d9791fe.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: whitesmoke;
  
}
.work{
  text-align: center;
  background-color:whitesmoke;
  border-radius: 30px;
  margin-bottom: 100px;
}

.row2{
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
}
.row3{
  text-align: center;
  margin-bottom: 30px;
  /* background-color: whitesmoke;
  padding-top: 10px !important; 
  display: grid;
  flex-direction: row;
  border-radius: 22px !important
   */
}
.Portfolio{
  text-align: center;
  justify-content: center;
  background: white;
  margin-bottom: 180px;
  background-color: whitesmoke;
  margin-top: 180px;
}
.red{
  color: #e05d47;
}
.table{
  margin-top: 80px;
  margin-bottom: 100px;
}
.pic4{
  border-radius: 20px;
  padding: 0px 13px;
  
}
.pot{
  margin-bottom: 17px;
  margin-top: 30px;
  padding-top: 20px;
}
.mm{
  margin-top: 100px;
  
}
.m{margin-top: 27px;
}
.clients{
  text-align: center;
  background: whitesmoke;
}
.box{
  margin-top: 40px;
}
.stay{text-align: center;
  background: whitesmoke;
  margin-bottom: 50px;

}
.mk{
  margin-top: 160px;
}
.placeholder{
  padding:10px 20px;
  width: 350px;
  margin-bottom: 50px;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: grey;
  background-color:solid white;
  color: black;

}
/* .underline{
  height: 2px;
  background-color: #e05d47;
  width: 50px;
  margin-top: 20px auto;
   justify-content: center; 
  align-items: center; 
  ; 
}*/
/* .footer{
  background-color:#0000b3 ;
} */



.fab{
  float: left;
  padding: 20px 15px;
  
}
.underline1{
  height: 2px;
  background-color:#e05d47;
  width: 1465px;
  margin-top: 20px auto;

}
.note{
  margin-right: 15px;
}
.row4{
  background-color: whitesmoke;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px !important;
}
.under{
  height: 2px;
  background-color: #e05d47;
  width: 50px;
  margin-top: 20px auto;
  justify-content: center;
  align-items: center;
  margin-right: 1000px;
}
.placeholder1{
  padding:20px 25px;
  width: 650px;
  margin-bottom: 50px;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border:white;
  background-color: whitesmoke;
  color: black;
}
.p{
  margin-top: 30px;
  margin-bottom: 20px;
}
.u{
  border-radius: 30px;
  /* margin-bottom: 20px; */
}
body{
  background-color: whitesmoke;
  
  
}
.footer{
  background-color: #e05d47;
}
.pk{
  margin-bottom: 140px;
}
.aa{
  margin-top: 20px;
  margin-bottom: 50px;
}
.a{
  margin-top: 120px;
}